:root {
  --color-primary: #377e6a;
  --color-primary-light: #lavender;
  --color-secondary: lavender;
  --color-accent: #92c6a1;
  --color-neutral-beige: #e2e2e2;
  --color-whatever: peachpuff;

  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: "Source Code Pro", Menlo, Consolas, monospace;
}

html {
  font-family: var(--font-primary)
}
