.btn-nav {
  border-radius: 100px;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-nav:hover {
  background-color: var(--color-neutral);
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-one {
  border-radius: 100px;
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
}

.btn:focus {
  outline: 3px solid #000;
}

.btn-extra {
  background-color: var(--color-neutral);
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-extra:hover {
  background-color: var(--color-primary);
  color: var(--color-neutral);
  border-color: var(--color-primary);
}

.btn-cart {
  background-color: var(--color-neutral);
  color: var(--color-secondary);
  border-color: var(--color-primary);
  border-radius: 8px;
}

.btn-cart:hover {
  background-color: var(--color-secondary);
  color: var(--color-neutral);
  border-color: var(--color-secondary);
}

.btn-bold {
  background-color: var(--color-primary-light);
  color: var(--color-secondary);
  border-color: var(--color-primary);
}

.btn-bold:hover {
  background-color: var(--color-primary);
  color: var(--color-neutral);
  border-color: var(--color-primary);
}
