<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Herbal Doses</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Raleway:400,500,700&display=swap" rel="stylesheet">
</head>
<body>

  {% pattern header/header %}
  {{content}}
  {% pattern sections/text-section header="What is Aromatherapy?" text="Aromatherapy is a pseudoscience. It uses aromatic materials, including essential oils, and other aroma compounds, with claims for improving psychological or physical well-being." %}
  {% pattern sections/benefits %}
  {% pattern footer/footer %}

</body>
</html>
